@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

svg {
    cursor: pointer;
}

img, svg {
	user-select: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Plus Jakarta Sans", serif;
}