@import url(normalize.css);
@import url(theme.css);

html#home {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100%;
	overscroll-behavior-y: none;scroll-behavior: smooth;
}

body, html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	position: relative;
}

/********************************************************** Wrapper ************************************************************/

.content {
	display: grid;
	grid-template-rows: repeat(5, 100vh);
	grid-template-areas: 
		"roupas"
		"calcado"
		"acessorios"
		"colecao-outono"
		"footer"; 
}

/*********************************************************** Header ************************************************************/

header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 15;
	background-color: white;
}

.home header {
	background-color: rgba(255, 255, 255, 0.0);
}

.wrapper-desktop {
	display: flex;
	width: 100%;
	max-width: var(--max-width);
	justify-content: space-between;
	padding: 16px var(--xxxl);
	gap: 24px;
	z-index: 5;
}

.wrapper-mobile {
	display: none;
}

nav {
	display: flex;
	flex: 1;
}

nav ul {
	display: flex;
	gap: 16px;
}

.home nav ul .nav-link a {
	color: white;
	white-space: nowrap;
}

nav ul .nav-link a {
	color: black;
	white-space: nowrap;
}

#logo {
	width: 32px;
	height: 20px;
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 1;
	justify-content: end;
}

.home .btn-primary {
	color: white;
}

.btn-primary {
	color: black;
}

.home .coracao path {
	stroke: white;
}

.coracao path {
	stroke: black;
}

.coracao:hover path {
	fill: red;
	stroke: red;
}

.home .compras path {
	stroke: white;
}

.compras path {
	stroke: black;
}

.home .compras:hover .svg-fill {
	fill: white;
}

.compras:hover .svg-fill {
	fill: black;
}

/********************************************************** Sections ***********************************************************/

.section {
	width: 100%;
	height: 100vh;
	position: relative;
	background-size: cover;
	scroll-snap-align: start;
	background-position: center;
	padding: 128px 96px;
}

.home .section-title {
	position: relative;
	color: white;
	z-index: 1000;
}

.roupa {
	background-image: url(../imgs/roupa.jpg);
	grid-area: roupas;
}

.calcado {
	background-image: url(../imgs/calcado.jpg);
	grid-area: calcado;
}

.acessorios {
	background-image: url(../imgs/acessorios.jpg);
	grid-area: acessorios;
}

.colecao-outono {
	background-image: url(../imgs/colecao-outono.jpg);
	grid-area: colecao-outono;
}



.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0 0% 0% / 0.4); /* Sobreposição com opacidade de 20% */
	z-index: 10;
}

/********************************************************** Footer ***********************************************************/

.home .footer {
	scroll-snap-align: end;
	grid-area: footer;
}

.footer {
	background-color: #0d0d0d;
	height: min-content;
	color: white;
	padding: 48px 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 96px;
}

.columns-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer-head {
	display: flex;
	gap: 8px;
}

.footer-list-links {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 8px 20px;
	border-left: 1px solid #222530;
	margin-left: 12px;
}

.footer-list-link {
	color: #d3d3d3;
	position: relative;
}

.footer-list-link:hover {
	color: white;
	animation-duration: 300ms;
}

.footer-list-link:hover .footer-link-marker {
	position: absolute;
	height: 100%;
	border: 0.5px solid white;
	left: -21px;
	border-radius: 1px;
}

.footer-logo {
	width: 96px;
}

.legal-info-footer {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 24px;
}

.legal-rights {
	color: white;
	width: 100%;
}

.privacy-policy {
	display: flex;
	color: white;
	width: 100%;
	justify-content: end;
}

.legal-info:hover {
	color: #3a3a3a;
	animation-duration: 200ms;
}

/****************************************************** Roupa Section *******************************************************/

.roupa-wrapper, .calcado-wrapper, .acessorios-wrapper, .colecao-wrapper {
	display: flex;
	justify-content: center;
}

.roupa-section, .calcado-section, .acessorios-section, .colecao-section {
	width: 100%;
	max-width: 1440px;
	margin: 48px 96px;
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin: 24px 0;
}

.section-title {
	font-size: 48px;
	line-height: 56px;
	color: black;
}

.section-subtitle {
	font-size: 16px;
	line-height: 20px;
	color: #5f5f5f;
}

.tab-list {
	display: flex;
	gap: 12px;
	margin-bottom: 24px;
}

.tab-list li {
	width: 84px;
	text-align: center;
	padding: 8px 12px;
}

.tab {
	color: #585858;
}

:where(.tshirts, .calcas, .hoodies, .calcoes) .tab, .tab:hover {
	color: black;
	text-decoration: underline;
	text-underline-offset: 4px;
	font-weight: 500;
}

.content-articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-bottom: 48px;
	gap: 12px;
}

.article-card {
    display: grid;
    grid-template-rows: 65% 13% auto;
    grid-template-areas:
        "img"
        "header"
        "content";
		height: 512px;
}

.article-img {
    display: grid;
	place-content: center;
	width: 100%;
	padding: 16px;
    background-color: #ececec;
    grid-area: img;
	border-radius: 4px;
	margin-bottom: 8px;
}

.article-img img {
	width: 100%;
}

.article-header {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.article-title {
    grid-area: title;
	font-size: 20px;
	line-height: 32px;
	color: #0d0d0d;
	font-weight: 600;
}

.article-info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.article-gender-colection {
	display: flex;
	justify-content: space-between;
}

.article-colection {
	color: #5f5f5f;
}

.colection {
	color: #0d0d0d;
	font-weight: 500;
}

.article-gender {
	color: #0d0d0d;
}

.article-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.article-text {
	color: #909090;
	text-align: justify;
}

.article-price {
	grid-area: price;
	color: #0d0d0d;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

/* .easter-egg {
	white-space: nowrap;
	color: black;
}

.easter-egg:hover {
	white-space: nowrap;
	background: -webkit-linear-gradient(180deg, red, green, blue, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: slide 4s linear infinite;
} */

@media (max-width: 768px) {
	body {
		min-width: 100dvw;
		overflow: hidden;
	}
	.wrapper-desktop {
		display: none;
	}

	.wrapper-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		padding: 16px;
		gap: 24px;
		z-index: 5;
	}

	.wrapper-mobile nav {
		display: flex;
		justify-content: start;
		width: 100%;
	}

	.content {
		width: 100%;
	}

	.section {
		min-height: 100dvh;
		max-width: 100dvw;
	}

	.overlay {
		min-height: 100dvh;
	}
}